<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-section about-section">
            <h4>About Us</h4>
            <p>
                Our System is designed to help organizations proactively identify and mitigate cybersecurity threats.
                By analyzing an organization’s computing assets, our system automatically scans the National Vulnerability Database (NVD)
                and other security sources to detect potential risks.
            </p>
        </div>        
      
      <div class="footer-section">
        <h4>Contact Us</h4>
        <p>Email: support</p>
        <p>Phone: +1 (346) 123-4567</p>
        <p>Location: Cybersecurity Hub, USA</p>
      </div>
  
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a (click)="scrollToSection('about-us')">About Us</a></li>
          <li><a (click)="scrollToSection('contact-us')">Contact</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
  
      <div class="footer-section social-icons">
        <h4>Follow Us</h4>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 Cybersecurity Hub. All Rights Reserved.</p>
    </div>
  </footer>
  