
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 10px;
  
  /* Adding a shadow for a floating effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
  /* Optional: Adding a slight 3D effect with transform */
  transform: translateY(-5px);
  
  /* Optional: Adding a smooth transition for hover effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2;
}


.profile-pic{
  width:50px;
  height: 50px;
  background-color: black;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  text-transform: capitalize;
}
.profile-pic-para{
  margin: 0;
}

.menu-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title{
  color: #007bff;;
  font-size: 2vw;
  font-weight: bolder;
}


/* Dropdown Button */
div {
  position: relative;
}

/* Base button style */
button {
  background-color:#007bff;
  color: white;
  padding: 10px 20px;  /* Vertical and horizontal padding (adjust for height and width) */
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: auto;  /* Width automatically adjusts based on content */
  height: 35px; /* Height adjusts based on content */
  display: inline-block;  /* To make the button only as wide as its content */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
button:hover {
  background-color: #2980b9;
  transform: translateY(-5px);  /* Lift effect */
}

/* Active effect */
button:active {
  background-color: #1c6ea4;
  transform: translateY(0);  /* Button pressed down */
}


/* Dropdown Menu */
ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0px;
  margin: 0;
  transition: opacity 0.1s ease;
  width: 200px;
  background-color: white;
}

ul.show {
  display: block;
}

/* Dropdown Items */
li {
  padding: 10px 20px;
}
li:hover{
  background-color: hsl(0, 0%, 90%);
}

a {
  color: #0056b3;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}
a:hover{
  font-weight: bolder;
  cursor: pointer;
}

