<nav class="navbar">
  <div [ngClass]="getHeaderClass()" class="header-container">
    <!-- Title Centered -->
    <div>
      <p class="title">Automatic Risk Assessment and Mitigation Tool</p>
    </div>

    <!-- Buttons Right Side -->
    <div class="menu-options">
      <button id="uploadBtn" (click)="openUploadModal()">Upload Organization data</button>
      <button (click)="navigateTo('/')">Home</button>
      <button (click)="scrollToSection('about-us')">About Us</button>

      <!-- Services Dropdown -->
      <div>
        <button (click)="toggleDropdown($event)">Services</button>
        <ul [class.show]="isDropdownOpen">
          <li><a (click)="checkVulnerabilities()">Check Vulnerabilities</a></li>
          <li><a (click)="scrollToService('notifications')">Notifications</a></li>
          <li><a (click)="scrollToService('reports')">Reports</a></li>
          <li><a (click)="scrollToService('schedule-job')">Schedule a Job</a></li>
          <li><a (click)="viewHistory()">History</a></li>
        </ul>
      </div>

      <button (click)="scrollToSection('contact-us')">Contact Us</button>
      <button *ngIf="!isLoggedIn" (click)="onLogin('login')">Login</button>
      <button *ngIf="!isLoggedIn" (click)="onLogin('signup')">Signup</button>
      <button (click)="onLogout('logout')">Logout</button>
      <div class="profile-pic"><p class="profile-pic-para">{{username.slice(0,1)}}</p></div>
    </div>
  </div>
</nav>

<div *ngIf="showUploadModal" class="modal-overlay">
  <div class="modal-content">
    <h3>Upload Organization File</h3>
    <input type="file" (change)="onFileSelected($event)" />
    <button (click)="uploadFile()">Upload</button>
    <button (click)="closeUploadModal()">Cancel</button>
  </div>
</div>