
<section class="about-section about">
    <button (click)="goBack()" class="back-button">
        ← Back
      </button>
      
    <div class="background-overlay"></div>
    <div class="content" data-aos="fade-up">
      <h2>About Us</h2>
      <hr>
      <p class="about-para">
        Our System is designed to help organizations proactively identify and mitigate cybersecurity threats.
        By analyzing an organization’s computing assets, our system automatically scans the National Vulnerability Database (NVD)
        and other security sources to detect potential risks.
      </p>
    </div>
  </section>
