<app-header></app-header>
<div class="container">
    <!-- Rows Per Page Selection -->
    <div class="pagination-controls">
        <input id="search-input" type="text" [(ngModel)]="searchText" (input)="calculatePagination()" placeholder="Search vulnerabilities..." />
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">&laquo; Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next &raquo;</button>
    
      <label for="rowsPerPage">Rows per page:</label>
      <select [(ngModel)]="rowsPerPage" (change)="onRowsPerPageChange(rowsPerPage)">
        <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">{{ option }}</option>
        <option [value]="totalRows">All</option>
      </select>
    </div>
  
    <!-- Table -->
    <table id="vulnerabilities">
      <thead>
        <tr>
          <th>Select</th>
          <th (click)="sortData('company')">Software Name</th>
          <th (click)="sortData('version')">Version</th>
          <th (click)="sortData('cveId')">CVE ID</th>
          <th (click)="sortData('severity')">Severity</th>
          <th (click)="sortData('mitigation')">Mitigation</th>
          <th>Resource Link</th>
        </tr>
      </thead>
      <tbody *ngIf="vulnerabilities.length > 0">
        <tr *ngFor="let v of historyData | filter:searchText">
          <td>
            <input type="checkbox" [(ngModel)]="v.selected" />
          </td>
          <td>{{ v.company }}</td>
          <td>{{ v.version }}</td>
          <td>{{ v.cveId }}</td>
          <td>{{ v.severity }}</td>
          <td>{{ v.description }}</td>
          <td>
            <button (click)="toggleDropdown(v)" class="toggle-btn">
              {{ v.showReferences ? 'Hide' : 'View References' }}
            </button>
            <div *ngIf="v.showReferences" class="dropdown-content">
              <ul>
                <li *ngFor="let li of v.references">
                  <a [href]="li.referenceLink" target="_blank">{{ li.referenceLink }}</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <button (click)="clear()" class="save-btn">Save Selected</button>
    
  
    <!-- Pagination Controls -->
    <div class="pagination-controls">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">&laquo; Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next &raquo;</button>
    </div>
  </div>
<app-footer></app-footer>