<div class="title-container text-center bg-light py-5">
  <h1>Automatic Risk Assessment and Mitigation Tool</h1>
</div>

<div class="signup-container">
  <h1 class="form-title">Signup</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <table class="table">
      <tbody>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-user"></i></span></td>
          <td><label for="firstName" class="form-label">First Name</label></td>
          <td><input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter your first name"></td>
        </tr>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-user"></i></span></td>
          <td><label for="lastName" class="form-label">Last Name</label></td>
          <td><input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter your last name"></td>
        </tr>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-phone"></i></span></td>
          <td><label for="phone" class="form-label">Phone</label></td>
          <td><input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="Enter your phone number"></td>
        </tr>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-envelope"></i></span></td>
          <td><label for="email" class="form-label">Email</label></td>
          <td><input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email"></td>
        </tr>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-user"></i></span></td>
          <td><label for="username" class="form-label">Username</label></td>
          <td><input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter a username"></td>
        </tr>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-lock"></i></span></td>
          <td><label for="password" class="form-label">Password</label></td>
          <td><input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password"></td>
        </tr>
        <tr>
          <td><span class="input-group-text"><i class="fas fa-building"></i></span></td>
          <td><label for="organization" class="form-label">Organization</label></td>
          <td><input type="text" class="form-control" id="organization" formControlName="organization" placeholder="Enter organization"></td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-green w-100">Sign Up</button>
    <div class="my-20"></div>

    <p>Already have an account?
      <button type="button" class="btn btn-green w-100 py-2 button-spacing" (click)="onLogin()">Login</button>
    </p>
  </form>

  <div class="mt-3">
    <p *ngIf="responseMessage" class="text-center" [ngClass]="{'text-success': responseMessage.includes('successful'), 'text-danger': responseMessage.includes('failed')}">
      {{ responseMessage }}
    </p>
  </div>
</div>
