body {
    background: 
        url('assets/backgroundimage.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: #100202; 
    margin: 0;
    padding: 0;
  }